h1,h2,h3,h4,h5,h6,p,a,span,label,input,.tooltip,button,select,option,.alert,textarea,th,td{
    font-family: 'Cairo', sans-serif !important;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    transition: background 0.5s ease;
}
html[data-color="blue"] ::-webkit-scrollbar-thumb{
    background:rgba(0, 188, 212, 0.8);
}
html[data-color="purple"] ::-webkit-scrollbar-thumb{
    background:rgba(148, 34, 116, 0.8);
}
html[data-color="green"] ::-webkit-scrollbar-thumb{
    background:rgba(76, 175, 80, 0.8);
}
html[data-color="orange"] ::-webkit-scrollbar-thumb{
    background:rgba(255, 152, 0, 0.8);
}
html[data-color="red"] ::-webkit-scrollbar-thumb{
    background:rgba(244, 67, 54, 0.8);
}


html[data-color="blue"] ::-webkit-scrollbar-thumb:hover{
    background:rgb(0, 188, 212);
}
html[data-color="purple"] ::-webkit-scrollbar-thumb:hover{
    background:rgb(148, 34, 116);
}
html[data-color="green"] ::-webkit-scrollbar-thumb:hover{
    background:rgb(76, 175, 80);
}
html[data-color="orange"] ::-webkit-scrollbar-thumb:hover{
    background:rgb(255, 152, 0);
}
html[data-color="red"] ::-webkit-scrollbar-thumb:hover{
    background:rgb(244, 67, 54);
}
/**************************************************/

html[data-color="blue"] .btn.btn-primary,html[data-color="blue"]  .btn.btn-primary:hover,html[data-color="blue"]  .btn.btn-primary:focus,html[data-color="blue"]  .btn.btn-primary:active,html[data-color="blue"]  .btn.btn-primary.active,html[data-color="blue"]  .btn.btn-primary:active:focus,html[data-color="blue"]  .btn.btn-primary:active:hover,html[data-color="blue"]  .btn.btn-primary.active:focus,html[data-color="blue"]  .btn.btn-primary.active:hover,html[data-color="blue"]  .open > .btn.btn-primary.dropdown-toggle,html[data-color="blue"]  .open > .btn.btn-primary.dropdown-toggle:focus,html[data-color="blue"]  .open > .btn.btn-primary.dropdown-toggle:hover,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary:hover,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary:focus,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary:active,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary.active,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,html[data-color="blue"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,html[data-color="blue"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,html[data-color="blue"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,html[data-color="blue"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background:rgb(0, 188, 212);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
html[data-color="purple"] .btn.btn-primary,html[data-color="purple"]  .btn.btn-primary:hover,html[data-color="purple"]  .btn.btn-primary:focus,html[data-color="purple"]  .btn.btn-primary:active,html[data-color="purple"]  .btn.btn-primary.active,html[data-color="purple"]  .btn.btn-primary:active:focus,html[data-color="purple"]  .btn.btn-primary:active:hover,html[data-color="purple"]  .btn.btn-primary.active:focus,html[data-color="purple"]  .btn.btn-primary.active:hover,html[data-color="purple"]  .open > .btn.btn-primary.dropdown-toggle,html[data-color="purple"]  .open > .btn.btn-primary.dropdown-toggle:focus,html[data-color="purple"]  .open > .btn.btn-primary.dropdown-toggle:hover,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary:hover,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary:focus,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary:active,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary.active,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,html[data-color="purple"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,html[data-color="purple"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,html[data-color="purple"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,html[data-color="purple"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background:rgb(148, 34, 116);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
html[data-color="green"] .btn.btn-primary,html[data-color="green"]  .btn.btn-primary:hover,html[data-color="green"]  .btn.btn-primary:focus,html[data-color="green"]  .btn.btn-primary:active,html[data-color="green"]  .btn.btn-primary.active,html[data-color="green"]  .btn.btn-primary:active:focus,html[data-color="green"]  .btn.btn-primary:active:hover,html[data-color="green"]  .btn.btn-primary.active:focus,html[data-color="green"]  .btn.btn-primary.active:hover,html[data-color="green"]  .open > .btn.btn-primary.dropdown-toggle,html[data-color="green"]  .open > .btn.btn-primary.dropdown-toggle:focus,html[data-color="green"]  .open > .btn.btn-primary.dropdown-toggle:hover,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary:hover,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary:focus,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary:active,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary.active,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,html[data-color="green"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,html[data-color="green"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,html[data-color="green"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,html[data-color="green"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background:rgb(76, 175, 80);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
html[data-color="orange"] .btn.btn-primary,html[data-color="orange"]  .btn.btn-primary:hover,html[data-color="orange"]  .btn.btn-primary:focus,html[data-color="orange"]  .btn.btn-primary:active,html[data-color="orange"]  .btn.btn-primary.active,html[data-color="orange"]  .btn.btn-primary:active:focus,html[data-color="orange"]  .btn.btn-primary:active:hover,html[data-color="orange"]  .btn.btn-primary.active:focus,html[data-color="orange"]  .btn.btn-primary.active:hover,html[data-color="orange"]  .open > .btn.btn-primary.dropdown-toggle,html[data-color="orange"]  .open > .btn.btn-primary.dropdown-toggle:focus,html[data-color="orange"]  .open > .btn.btn-primary.dropdown-toggle:hover,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary:hover,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary:focus,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary:active,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary.active,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,html[data-color="orange"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,html[data-color="orange"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,html[data-color="orange"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,html[data-color="orange"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background:rgb(255, 152, 0);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
html[data-color="red"] .btn.btn-primary,html[data-color="red"]  .btn.btn-primary:hover,html[data-color="red"]  .btn.btn-primary:focus,html[data-color="red"]  .btn.btn-primary:active,html[data-color="red"]  .btn.btn-primary.active,html[data-color="red"]  .btn.btn-primary:active:focus,html[data-color="red"]  .btn.btn-primary:active:hover,html[data-color="red"]  .btn.btn-primary.active:focus,html[data-color="red"]  .btn.btn-primary.active:hover,html[data-color="red"]  .open > .btn.btn-primary.dropdown-toggle,html[data-color="red"]  .open > .btn.btn-primary.dropdown-toggle:focus,html[data-color="red"]  .open > .btn.btn-primary.dropdown-toggle:hover,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary:hover,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary:focus,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary:active,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary.active,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,html[data-color="red"]  .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,html[data-color="red"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,html[data-color="red"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,html[data-color="red"]  .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background:rgb(244, 67, 54);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

/*****************************************************/
html[data-color="purple"] .form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #952173, #952173), linear-gradient(#D2D2D2, #D2D2D2);
}
html[data-color="purple"] .form-group.is-focused .form-control .material-input:after {
    background-color: rgb(148, 34, 116);
}
html[data-color="blue"] .form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #26c6da, #00acc1), linear-gradient(#D2D2D2, #D2D2D2);
}
html[data-color="blue"] .form-group.is-focused .form-control .material-input:after {
    background-color: rgb(0, 188, 212);
}
html[data-color="green"] .form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #66bb6a, #43a047), linear-gradient(#D2D2D2, #D2D2D2);
}
html[data-color="green"] .form-group.is-focused .form-control .material-input:after {
    background-color: rgb(76, 175, 80);
}
html[data-color="orange"] .form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #ffa726, #fb8c00), linear-gradient(#D2D2D2, #D2D2D2);
}
html[data-color="orange"] .form-group.is-focused .form-control .material-input:after {
    background-color: rgb(255, 152, 0);
}
html[data-color="red"] .form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #ef5350, #e53935), linear-gradient(#D2D2D2, #D2D2D2);
}
html[data-color="red"] .form-group.is-focused .form-control .material-input:after {
    background-color: rgb(244, 67, 54);
}
/***************************************/
html[data-color="purple"] .text-primary {
    color: rgb(148, 34, 116);
}
html[data-color="blue"] .text-primary {
    color: rgb(0, 188, 212);
}
html[data-color="green"] .text-primary {
    color: rgb(76, 175, 80);
}
html[data-color="orange"] .text-primary {
    color:rgb(255, 152, 0);
}
html[data-color="red"] .text-primary {
    color: rgb(244, 67, 54);
}
/***************************************/
html[data-color="purple"] a {
    color: rgb(148, 34, 116);
}
html[data-color="blue"] a {
    color: rgb(0, 188, 212);
}
html[data-color="green"] a {
    color: rgb(76, 175, 80);
}
html[data-color="orange"] a {
    color:rgb(255, 152, 0);
}
html[data-color="red"] a {
    color: rgb(244, 67, 54);
}
